# Configuration for Rasa NLU.
# https://rasa.com/docs/rasa/nlu/components/
#Pipeline ["supervised_embeddings","spacy_sklearn","pretrained_embeddings_spacy"]
language: en
pipeline: supervised_embeddings

# Configuration for Rasa Core.
# https://rasa.com/docs/rasa/core/policies/
policies:
  - name: MemoizationPolicy
  - name: KerasPolicy
  - name: MappingPolicy
